<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Oswald&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
	<title>Sites</title>
</head>
<body>
  <div class="crossfade">
      <figure></figure>
      <figure></figure>
      <figure></figure>
      <figure></figure>
      <figure></figure>
  </div>
  <div id="content">
    <h1>
       Pratice Websites - Mofiz Uddin
    </h1>
    <div class="container">
      <div class="center">
        <ul class="p-0">
          <li>Dynamic Sites
          <ul>
             <li><a href="https://murmuring-gorge-54396.herokuapp.com/">YelpCamp</a></li>
          </ul>
          </li>
          <li>Static Sites
            <ul>
              <li><a href="/patatap">Paper JS app</a></li>
              <li><a href="/todo">Todo list</a></li>
              <li><a href="/color-game">Colour Game</a></li>
              <li><a href="/photo-grid">Basic CSS</a></li>
              <li><a href="/candy">Candy Site</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
