body{
  font-family: 'Oswald', sans-serif;
  background-color: #000000;
  background-size:100% 100vh;
  color: white;
}
#content{
  z-index: 1;
  position: relative;
}
h1{
  text-align: center;
  margin-top: 100px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
ul, li {
    list-style-type: none;
}
ul{
  width: 100%;
  padding-left: 20px;
}

li{
  font-size: 30px;
}
a{
  text-decoration: none;
  color: #b4b9c2;
}
a:hover{
  padding-left: 15px;
}

a:active{
  color: #ccc
}
.container{
  margin: 50px auto;
  width:40%;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  transition: width 0.5s ease;

}
.container:hover{
	width: 80%;
	background-color: rgba(255, 255, 255, 0.2);
}
.p-0{
  padding: 0;
}
.center{
  margin-left: auto;
  margin-right: auto;
  width:190px;
}
* {
  padding: 0;
  margin: 0
}

.crossfade > figure {
  animation: imageAnimation 30s linear infinite 0s;
  backface-visibility: hidden;
  background-size: cover;
  background-position: center center;
  color: transparent;
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 0;
}

.crossfade > figure:nth-child(1) {
  background-image: url('https://images.unsplash.com/photo-1546433968-f61d844450fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
}
.crossfade > figure:nth-child(2) {
  animation-delay: 6s;
  background-image: url('https://images.unsplash.com/photo-1536859355448-76f92ebdc33d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
}
.crossfade > figure:nth-child(3) {
  animation-delay: 12s;
  background-image: url('https://images.unsplash.com/photo-1516721951823-4f214c97eb4d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
}
.crossfade > figure:nth-child(4) {
  animation-delay: 18s;
  background-image: url('https://images.unsplash.com/photo-1541143617743-ec1167fa069c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1510&q=80');
}
.crossfade > figure:nth-child(5) {
  animation-delay: 24s;
  background-image: url('https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1607&q=80');
}

@keyframes imageAnimation {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
  }
  8% {
    animation-timing-function: ease-out;
    opacity: 1;
  }
  17% {
    opacity: 1
  }
  25% {
    opacity: 0
  }
  100% {
    opacity: 0
  }
}
