<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../todo-assets/css/todos.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/011a13314a.js"></script>

<body>
  <div id="container">
    <h1>To-Do List <i class="fas fa-plus"></i></h1>
    <input type="text" placeholder="Add new Todo">
    <ul>
      <li><span class="delete"><i class="far fa-trash-alt"></i> </span>Buy Potions</li>
      <li><span class="delete"><i class="far fa-trash-alt"></i></span>Visit Hagrid</li>
      <li><span class="delete"><i class="far fa-trash-alt"></i></span>Learn spell</li>
    </ul>
  </div>
  <script type="text/javascript" src="../todo-assets/js/jQuery-todos.js"></script>
</body>
</html>
