<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>jQuery Document Ready Demo</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<link href="../stylesheets/questionnaire.css" rel="stylesheet" type="text/css">
     
</head>
<body>
    <div class="container">
		<div class="content">
			<div class ="header">
				<h1>
					The Football Questionnaire
				</h1>
			</div>
			<div class ="qanda">
				<div class="question">
					<p>
						Question: 
					</p>
					<p id="question">
					
					</p>
					<p id="message">
						answer
					</p>
				</div>
				<div class="answer">
					<div class= "select">
						<p>
							Mesut Ozil
						</p>
					</div>
					<div class= "select">
						<p>
							Mesut Ozil
						</p>
					</div>
					<div class= "select">
						<p>
							Mesut Ozil
						</p>
					</div>
					<div class= "select">
						<p>
							Mesut Ozil
						</p>
					</div>
					
				</div>
				<a href="#" class="next">Next Question &raquo;</a>
			</div>
		</div>
	</div>
	<script src="../JS/questionnaire.js"></script>
</body>
</html>                            